.card-container{
    width:18rem;
    perspective: 200rem;
    position: relative;
    height: 412px;
    border: none;
}
img{
    margin-top: 80px;
    margin-left: 20px;
}
.card-container:hover .card-front{
    transform:rotateY(180deg);

}
.card-container:hover .card-back{
    transform:rotateY(0deg);

}
.card-back{
    transform: rotateY(180deg);
}
.card{
    transition: all 0.9s;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border: none;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }