.card-container{
    width:25rem;
    perspective: 200rem;
    position: relative;
    height: 445px;
    border: none;
}
img{
    margin-top: 100px;
    margin-left: 80px;
}
.card-container:hover .card-front{
    transform:rotateY(180deg);

}
.card-container:hover .card-back{
    transform:rotateY(0deg);

}
.card-back{
    transform: rotateY(180deg);
}
.card{
    transition: all 0.9s;
    position: absolute;
    height: 100%;
    width: 500px;
    backface-visibility: hidden;
    box-shadow: 5px 5px 5px 5px gainsboro;
    border-radius:70px 0px 70px 0px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  .btn{
      border-radius:70px 70px 70px 70px;
  }