body {
    margin: 0;
    padding: 0;
    background-color:#000000;
}

.saleh {
    
    margin: auto;
}

.calcontainer {
    width: 316px;
    margin: auto;
    margin-top: 80px;
    border: 3px silod black;
    
}

#panel {
    
    text-align: right;
    width: 270px;
    margin-left: 2px;
    height: 50px;
    font-size: 26px;
    background-color: fff;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

#panel:hover {
    
    cursor: pointer;
}

.bttn {
    
    margin-bottom: 8px;
    margin-left: 5px;
    width: 59px;
    height: 45px;
    font-size: 25px;
    color:black;
    
}

.bttne { 
    width: 120px;
    margin-top: 7px;
    margin-right: 11px;
    color:rgb(3, 7, 8);
    
}

h1{
    margin-left: 43%;
    color: white;
}
    