<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card card-bordered">
       <div class="_blogcard mt-5">
         <div class="row">
           <div class="col-lg-7 col-md-12 col-sm-12">
             <div class="row">
               <div class="col-md-12">
                 <!-- image -->
                 <img src="assets/dummy-image-square.png" class="img-fluid">
                 <div class="col-md-12">
                   <div class="_name d-inline-flex">
                     <h2><span class="_personname">John Doe</span></h2>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-lg-5 col-md-12 col-sm-12">
             <div class="row">
               <div class="col-md-12">
                 <div class="pb-2 mb-2 border-bottom">
                 <div class="_blogtitle font-weight-bold h3">
                   Student_Details
                 </div>
                </div>
               </div>
               <div class="col-md-12">
                 <div class="_content mt-2">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna 
                     aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                     ullamco laboris nisi ut aliquip ex ea commodo consequat.
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>
</div>