$textColor:#7a7a7a;
$white:#ffffff;

img{
    margin-top: -70px;
    margin-left: 10%;
}
.card{
    border-radius: 0;
    box-shadow: 5px 5px 15px #7f8c8d;
    transition: all 0.5 ease-in;
    margin-top: 90px;
}
.card:hover{
    background: #d7d8da;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
}
._content{
    font-size: 130%;
}