.bg {
    background: #00B4DB;
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);
    background: linear-gradient(to left, #0083B0, #00B4DB);
}

.page-header h1 {
    font-family: "Playfair Display";
    font-size: 45px;
    padding: 15px 0px 15px 0px;
}