<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="sty.css">



    <style>

    </style>
</head>

<body>

    <h1>details</h1>

    <div class="card">
        <img src="C:\zool_works\img\piyush.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4>piyush sen</h4>
            <p>hello my name is piyush sen. i am from harda mp.currently i am work in angular 8. thankyou.
            </p>
        </div>
    </div>

</body>

</html>