
<section id="team">
  <div class="container my-3 py-3 text-center">
    <div class="row mb-5">
       <div class="col">
         <h1>profile </h1>
       </div>
    </div>
    
    <div class="row">
      <div class="col-md-6"></div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
              <div *ngFor="let candidate of candidates" class="col-8 card">
            <img src="assets/head-659651_960_720.png" class="img-fluid rounded-circle w-50 mb-3">
            
            
                  
            <a class="list-group-item" href="#">{{candidate.candidateName}}</a>
          
                        <a class="list-group-item" href="#">{{candidate.candidateDetails.emailId}}</a>
                          
                      <a class="list-group-item" href="#">{{candidate.candidateDetails.Class}}</a>
                                   
                 <a class="list-group-item" href="#">{{candidate.candidateDetails.mobileNo}}</a>
                  
            <button type="button" class="btn btn-outline-primary" (click)="moreDetails()">More Details</button>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
      
    </div>
  </div>
</section>






